@using zeynerp.Entities
@model IEnumerable<zeynerp.Entities.Company>
@{
    ViewBag.Title = "CompanyList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section role="main" class="content-body">
    <header class="page-header">
        <h2>Cari Listesi</h2>
        <div class="right-wrapper text-right pr-3">
            <ol class="breadcrumbs">
                <li>
                    <a href="/panel">
                        <i class="fas fa-home"></i>
                    </a>
                </li>
                <li><span>Tanımlamalar</span></li>
                <li><span>Cari</span></li>
            </ol>
        </div>
    </header>
    @using (Ajax.BeginForm("CompanyList", "Company", null, new AjaxOptions { HttpMethod = "GET" }, new { id = "myForm" }))
    {
        <div class="row">
            <div class="col">

                <div class="card card-modern">
                    <div class="card-body">
                        <div class="datatables-header-footer-wrapper">
                            <div class="datatable-header">
                                <div style="text-align:center"> <strong> Firma Grup Listesi </strong></div>
                                <div class="row align-items-center mb-3">
                                    @*<div class="col-12 col-lg-4 col-xl-2 col-lg-auto mt-3 mt-lg-0 mb-3 mb-lg-0">*@
                                    @*<div class="col-md-push-12 col-lg-4 col-xl-2 col-lg-auto mt-3 mt-lg-0 mb-3 mb-lg-0">
                                            <div class="d-flex align-items-lg-center flex-column flex-lg-row">
                                                <label class="ws-nowrap mr-3 mb-0">Aktif:</label>
                                                @Html.DropDownListFor(x => x, new List<SelectListItem> {
                                                new SelectListItem { Text = "Tümü", Value = "all"},
                                                new SelectListItem { Text = "Aktif", Value = "Aktif"},
                                                new SelectListItem { Text = "Pasif", Value = "Pasif"}}, new { @class = "form-control select-style-1 filter-by", name = "filter-by", onchange = "myFormSubmit1()" })
                                            </div>
                                        </div>*@
                                    <div class="col-12 col-lg-4 col-xl-1 mt-md-3 mt-xl-0 col-lg-auto ml-auto mb-3 mb-lg-0">
                                        <a href="@Url.Action("CompanyAdd", "Company")" class="btn btn-primary w-100 btn-md font-weight-semibold btn-py-2 px-4"> Yeni </a>
                                    </div>
                                </div>
                            </div>
                            <table class="table table-ecommerce-simple table-striped mb-0" id="datatable-ecommerce-list" style="min-width: 750px;">
                                <thead>
                                    <tr>
                                        <th width="8%"> No </th>
                                        <th width="10%"> Kısa Adı </th>
                                        <th width="10%"> Adı </th>
                                        <th width="10%"> Tür </th>
                                        <th width="10%"> Telefon </th>
                                        <th width="10%"> E-Posta </th>
                                        <th width="10%"> Durum </th>
                                        <th width="10%"> Detay </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{int totalNumberOfCompanies = 0;}
                                    @foreach (var item in Model)
                                    {
                                        totalNumberOfCompanies++;
                                        <tr>
                                            <td> @totalNumberOfCompanies </td>
                                            <td><a href=""> @item.ShortName </a></td>
                                            <td> <strong> @item.Name </strong> </td>
                                            <td> @item.Kind </td>
                                            <td> @item.Phone </td>
                                            <td> @item.Eposta </td>
                                            @if (item.Confirmation == YesNo.Onaysız)
                                            {
                                                <td style="color:red"> <strong> @item.Confirmation </strong> </td>
                                            }
                                            else
                                            {
                                                <td style="color:green"> <strong> @item.Confirmation </strong> </td>
                                            }
                                            <td> <a href="@Url.Action("CompanyDetail", "Company", new { id = item.Id })"> Detay </a>  </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <hr class="solid mt-5 opacity-4">
                            <div class="datatable-footer">
                                <div style="text-align:center"> <strong> Toplam Firma Sayısı: @totalNumberOfCompanies  </strong> </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    }
</section>

<script>
    function myFormSubmit1() {
        document.getElementsByTagName("select")[1].value = "";
        document.getElementsByTagName("select")[2].value = "";
        document.getElementById("myForm").submit();
    }

</script>
