@using zeynerp.Entities
@using zeynerp.BL
<!doctype html>
<html class="fixed sidebar-left-collapsed">
<head>
    <!-- Basic -->
    <meta charset="UTF-8">

    <title>Panel | zeynerp</title>
    <meta name="keywords" content="HTML5 Admin Template" />
    <meta name="description" content="Porto Admin - Responsive HTML5 Template">
    <meta name="author" content="okler.net">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,600,800,900|Shadows+Into+Light" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="~/Assets/vendor/elusive-icons/css/elusive-icons.css" />

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="~/Assets/vendor/bootstrap/css/bootstrap.css" />

    <link rel="stylesheet" href="~/Assets/vendor/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/Assets/vendor/magnific-popup/magnific-popup.css" />
    <link rel="stylesheet" href="~/Assets/vendor/datatables/media/css/dataTables.bootstrap4.css" />

    <!-- Specific Page Vendor CSS -->
    <link rel="stylesheet" href="~/Assets/vendor/select2/css/select2.css" />
    <link rel="stylesheet" href="~/Assets/vendor/select2-bootstrap-theme/select2-bootstrap.min.css" />
    <link rel="stylesheet" href="~/Assets/vendor/boxicons/css/boxicons.min.css" />

    <!--(remove-empty-lines-end)-->
    <!-- Theme CSS -->
    <link rel="stylesheet" href="~/Assets/css/theme.css" />

    <!-- Theme Layout -->
    <link rel="stylesheet" href="~/Assets/css/layouts/modern.css" />
    <!--(remove-empty-lines-end)-->
    <!-- Skin CSS -->
    <link rel="stylesheet" href="~/Assets/css/skins/default.css" />

    <!-- Theme Custom CSS -->
    <!-- Head Libs -->
    <script src="~/Assets/vendor/modernizr/modernizr.js"></script>

    <style>
        select option:first-child {
            display: none;
        }

        #myForm select option:first-child {
            display: block;
        }

        #currencyUnit > option:first-child {
            display: block;
        }
    </style>
</head>
<body>
    <section class="body">

        <!-- start: header -->
        <header class="header">
            <div class="logo-container">
                <a href="/panel" class="logo">
                    <img src="~/Assets/img/logo.png" width="75" height="35" alt="Porto Admin" />
                </a>
                <div class="d-md-none toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
                    <i class="fas fa-bars" aria-label="Toggle sidebar"></i>
                </div>
            </div>

            <!-- start: search & user box -->
            <div class="header-right d-flex justify-content-end align-items-center">
                @{
                    var user = Session["employee"] as Employee;
                    var admin = Session["employee"] as User;
                    if (user != null && user.IsAdmin == true)
                    {
                        <span class="separator"></span>
                        <div id="remainder" class="userbox mb-3 mb-md-0">
                            Bakiye :

                            <div id="bakiyem" style="display:inline-block;">
                                @{PaymentManager payment = new PaymentManager();
                                    var remainder = payment.GetRemainder(user);
                                    if (remainder == null)
                                    {
                                        remainder = 0;

                                    }
                                    @remainder}
                            </div>  ₺
                        </div>
                    }
                }
                <span class="separator"></span>
                <div id="userbox" class="userbox pr-3 pr-md-0 pl-3 pl-md-0 mb-3 mb-md-0">
                    <a href="#" data-toggle="dropdown">
                        @{
                            if (admin != null)
                            {
                                var employee = Session["employee"] as User;
                                <div class="profile-info" data-lock-name="@employee.Name" data-lock-email="@employee.Email" data-lock-password="@Session["password"]" data-lock-surname="@employee.Surname">
                                    @if (Session["employee"] != null)
                                    {
                                        <span class="name">@employee.Name @employee.Surname</span>
                                        <span class="role"> Administrator</span>
                                    }
                                </div>
                            }
                            else
                            {
                                var employee = Session["employee"] as Employee;
                                <div class="profile-info" data-lock-name="@employee.Name" data-lock-email="@employee.Email" data-lock-password="@Session["password"]" data-lock-surname="@employee.Surname">
                                    @if (Session["employee"] != null)
                                    {
                                        <span class="name">@employee.Name @employee.Surname</span>
                                        <span class="role"> @employee.CompanyId</span>
                                    }
                                </div>
                            }
                        }
                        <i class="fa custom-caret"></i>
                    </a>
                    <div class="dropdown-menu">
                        <ul class="list-unstyled mb-2">
                            <li class="divider"></li>
                            <li>
                                <a role="menuitem" tabindex="-1" href="#" data-lock-screen="true"><i class="fas fa-key"></i> Şifre Değiştirme</a>
                            </li>
                            <li>
                                <a role="menuitem" tabindex="-1" href="#" data-lock-screen="true"><i class="fas fa-lock"></i> Lock Screen</a>
                            </li>
                            <li>
                                <a role="menuitem" tabindex="-1" href="@Url.Action("Logout","Home")"><i class="fas fa-power-off"></i> Çıkış Yap</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <div class="inner-wrapper">
            <!-- start: sidebar -->
            <aside id="sidebar-left" class="sidebar-left">

                <div class="sidebar-header">
                    <div class="sidebar-title">
                        Menü
                    </div>
                    <div class="sidebar-toggle d-none d-md-block" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
                        <i class="fas fa-bars" aria-label="Toggle sidebar"></i>
                    </div>
                </div>

                <div class="nano">
                    <div class="nano-content">
                        <nav id="menu" class="nav-main" role="navigation">
                            <ul class="nav nav-main">
                                @if (admin != null)
                                {
                                    @*<li>
                                            <a class="nav-link" href="@Url.Action("Module","Admin")">
                                                <i class="fas fa-plus" aria-hidden="true"></i>
                                                <span>Modül Ekle</span>
                                            </a>
                                        </li>*@
                                    <li class="nav-parent">
                                        <a class="nav-link" href="#">
                                            <i class="fas fa-plus" aria-hidden="true"></i>
                                            <span>Tanımlamalar</span>
                                        </a>
                                        <ul class="nav nav-children">
                                            <li>
                                                <a class="nav-link" href="@Url.Action("Module","Admin")">
                                                    <span>Modüller</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <a class="nav-link" href="@Url.Action("Authorization","Home")">
                                            <i class="fas fa-users-cog" aria-hidden="true"></i>
                                            <span>Kullanıcı İşlemleri</span>
                                        </a>
                                    </li>
                                    <li class="nav-parent">
                                        <a class="nav-link" href="#">
                                            <i class="fas fa-plus" aria-hidden="true"></i>
                                            <span>Tanımlamalar</span>
                                        </a>
                                        <ul class="nav nav-children">
                                            <li>
                                                <a class="nav-link" href="@Url.Action("CompanyList","Home")">
                                                    <i class="fas fa-building" aria-hidden="true"></i>
                                                    <span> Cariler </span>
                                                </a>
                                            </li>
                                        </ul>
                                        <ul class="nav nav-children">
                                            <li>
                                                <a class="nav-link" href="@Url.Action("SupplierList","Supplier")">
                                                    <i class="fas fa-compact-disc" aria-hidden="true"></i>
                                                    <span> Tedarikçi Grup </span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="nav-parent">
                                        <a class="nav-link" href="#">
                                            <i class="fas fa-users" aria-hidden="true"></i>
                                            <span>İnsan Kaynakları</span>
                                        </a>
                                        <ul class="nav nav-children">
                                            <li>
                                                <a class="nav-link" href="@Url.Action("PersonnelList","HumanResource")">
                                                    <span>Personel Listesi</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                }
                            </ul>
                        </nav>
                        <script>
                            if (typeof localStorage !== 'undefined') {
                                if (localStorage.getItem('sidebar-left-position') !== null) {
                                    var initialPosition = localStorage.getItem('sidebar-left-position'),
                                        sidebarLeft = document.querySelector('#sidebar-left .nano-content');
                                    sidebarLeft.scrollTop = initialPosition;
                                }
                            }
                        </script>
                    </div>
                </div>
            </aside>
            @RenderBody()
        </div>
        <aside id="sidebar-right" class="sidebar-right">
            <div class="nano">
                <div class="nano-content">
                    <a href="#" class="mobile-close d-md-none">
                        Collapse <i class="fas fa-chevron-right"></i>
                    </a>

                    <div class="sidebar-right-wrapper">

                        <div class="sidebar-widget widget-calendar">
                            <h6>Upcoming Tasks</h6>
                            <div data-plugin-datepicker data-plugin-skin="dark"></div>

                            <ul>
                                <li>
                                    <time datetime="2017-04-19T00:00+00:00">04/19/2017</time>
                                    <span>Company Meeting</span>
                                </li>
                            </ul>
                        </div>
                        <div class="sidebar-widget widget-friends">
                            <h6>Friends</h6>
                            <ul>
                                <li class="status-online">
                                    <figure class="profile-picture">
                                        <img src="img/!sample-user.jpg" alt="Joseph Doe" class="rounded-circle">
                                    </figure>
                                    <div class="profile-info">
                                        <span class="name">Joseph Doe Junior</span>
                                        <span class="title">Hey, how are you?</span>
                                    </div>
                                </li>
                                <li class="status-online">
                                    <figure class="profile-picture">
                                        <img src="img/!sample-user.jpg" alt="Joseph Doe" class="rounded-circle">
                                    </figure>
                                    <div class="profile-info">
                                        <span class="name">Joseph Doe Junior</span>
                                        <span class="title">Hey, how are you?</span>
                                    </div>
                                </li>
                                <li class="status-offline">
                                    <figure class="profile-picture">
                                        <img src="img/!sample-user.jpg" alt="Joseph Doe" class="rounded-circle">
                                    </figure>
                                    <div class="profile-info">
                                        <span class="name">Joseph Doe Junior</span>
                                        <span class="title">Hey, how are you?</span>
                                    </div>
                                </li>
                                <li class="status-offline">
                                    <figure class="profile-picture">
                                        <img src="img/!sample-user.jpg" alt="Joseph Doe" class="rounded-circle">
                                    </figure>
                                    <div class="profile-info">
                                        <span class="name">Joseph Doe Junior</span>
                                        <span class="title">Hey, how are you?</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
    </section>

    <!-- Vendor -->
    <script src="~/Assets/vendor/jquery/jquery.js"></script>
    <script src="~/Assets/vendor/popper/umd/popper.min.js"></script>
    <script src="~/Assets/vendor/bootstrap/js/bootstrap.js"></script>
    <script src="~/Assets/vendor/magnific-popup/jquery.magnific-popup.js"></script>

    <!-- Specific Page Vendor -->
    <script src="~/Assets/vendor/jquery-maskedinput/jquery.maskedinput.js"></script>
    <script src="~/Assets/vendor/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/Assets/vendor/datatables/media/js/dataTables.bootstrap4.min.js"></script>

    <script src="~/Assets/vendor/jquery-validation/jquery.validate.js"></script>
    <script src="~/Assets/vendor/select2/js/select2.js"></script>

    <!--(remove-empty-lines-end)-->
    <!-- Theme Base, Components and Settings -->
    <script src="~/Assets/js/theme.js" charset="windows-1254"></script>

    <!-- Theme Custom -->
    <script src="~/Assets/js/custom.js"></script>

    <!-- Theme Initialization Files -->
    <script src="~/Assets/js/theme.init.js"></script>

    <!-- Examples -->
    <script src="~/Assets/js/examples/examples.dashboard.js"></script>
    <script src="~/Assets/js/examples/examples.modals.js"></script>
    <script src="~/Assets/js/examples/examples.header.menu.js"></script>
    <script src="~/Assets/js/examples/examples.ecommerce.datatables.list.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>