@using zeynerp.Entities
@model Company
@{
    ViewBag.Title = "CompanyAdd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="body">
    <header class="page-header">
        <h2>Cari Detay</h2>

        <div class="right-wrapper text-right mr-3">
            <ol class="breadcrumbs">
                <li>
                    <a href="/panel">
                        <i class="fas fa-home"></i>
                    </a>
                </li>
                <li>
                    <a href="/Home/CompanyList">
                        <span>Cariler</span>
                    </a>
                </li>
                <li>
                    <span>Cari Ekleme</span>
                </li>
            </ol>

            @*<a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fas fa-chevron-left"></i></a>*@
        </div>
    </header>

    <!-- start: page -->
    @using (Html.BeginForm("CompanyAdd", "Home", FormMethod.Post))
    {
        <div class="row">
            <div class="col">
                <div class="card-body">
                    <div class="row">
                        @*<div class="col-lg-2-5 col-xl-1-5">
                                <i class="card-big-info-icon bx bx-dollar-circle"></i>
                                <h2 class="card-big-info-title">Billing Info</h2>
                                <p class="card-big-info-desc">Add here the.</p>
                            </div>*@
                        <div class="col-lg-3-5 col-xl-4-5 offset-lg-2">
                            <div class="form-group row align-items-center">
                                <label class="col-lg-5 col-xl-3 control-label text-lg-right mb-0"> Cari Türü</label>
                                <div class="col-lg-7 col-xl-6">
                                    <div class="editor-field">
                                        @Html.HiddenFor(model => model.Kind, new { id = "CompanyKind" })
                                        Müşteri: <input type="checkbox" id="r" onchange="getSelected()" value="Müşteri" />
                                        Tedarikçi: <input id="w" type="checkbox" onchange="getSelected()" value="Tedarikçi" />
                                        Taşeron: <input type="checkbox" id="r" onchange="getSelected()" value="Taşeron" />
                                        Resmi: <input type="checkbox" id="r" onchange="getSelected()" value="Resmi" />
                                        Banka: <input type="checkbox" id="r" onchange="getSelected()" value="Banka" />
                                        Ortaklar: <input type="checkbox" id="r" onchange="getSelected()" value="Ortaklar" />

                                        @Html.ValidationMessageFor(model => model.Kind)
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row align-items-center">
                                <label class="col-lg-5 col-xl-3 control-label text-lg-right mb-0"> Cari Adı</label>
                                <div class="col-lg-7 col-xl-6">
                                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control form-control-lg", name = "companyName", type = "text" })
                                </div>
                            </div>
                            <div class="form-group row align-items-center">
                                <label class="col-lg-5 col-xl-3 control-label text-lg-right mb-0"> Cari Kısa Adı</label>
                                <div class="col-lg-7 col-xl-6">
                                    @Html.TextBoxFor(model => model.ShortName, new { @class = "form-control form-control-lg", name = "companyShortName", type = "text" })
                                </div>
                            </div>
                            <div class="form-group row align-items-center">
                                <label class="col-lg-5 col-xl-3 control-label text-lg-right mb-0"> Cari Telefonu </label>
                                <div class="col-lg-7 col-xl-6">
                                    @Html.TextBoxFor(model => model.Phone, new { @class = "form-control form-control-lg", name = "companyPhone", type = "text" })
                                </div>
                            </div>
                            <div class="form-group row align-items-center">
                                <label class="col-lg-5 col-xl-3 control-label text-lg-right mb-0"> Cari Fax </label>
                                <div class="col-lg-7 col-xl-6">
                                    @Html.TextBoxFor(model => model.Fax, new { @class = "form-control form-control-lg", name = "companyFax", type = "text" })
                                </div>
                            </div>
                            <div class="form-group row align-items-center">
                                <label class="col-lg-5 col-xl-3 control-label text-lg-right mb-0"> Cari E-Posta </label>
                                <div class="col-lg-7 col-xl-6">
                                    @Html.TextBoxFor(model => model.Eposta, new { @class = "form-control form-control-lg", name = "companyEposta", type = "text" })
                                </div>
                            </div>
                            <div class="form-group row align-items-center">
                                <label class="col-lg-5 col-xl-3 control-label text-lg-right mb-0"> Cari Vergi Dairesi </label>
                                <div class="col-lg-7 col-xl-6">
                                    @Html.TextBoxFor(model => model.TaxAdministration, new { @class = "form-control form-control-lg", name = "companyTaxAdministration", type = "text" })
                                </div>
                            </div>
                            <div class="form-group row align-items-center">
                                <label class="col-lg-5 col-xl-3 control-label text-lg-right mb-0"> Cari Vergi No </label>
                                <div class="col-lg-7 col-xl-6">
                                    @Html.TextBoxFor(model => model.TaxNumber, new { @class = "form-control form-control-lg", name = "companyTaxNumber", type = "text" })
                                </div>
                            </div>
                            <div class="form-group row align-items-center">
                                <label class="col-lg-5 col-xl-3 control-label text-lg-right mb-0"> Fatura Adresi </label>
                                <div class="col-lg-7 col-xl-6">
                                    @Html.TextBoxFor(model => model.BillingAddress, new { @class = "form-control form-control-lg", name = "companyBillingAddress", type = "text" })
                                </div>
                            </div>
                            <div class="form-group row align-items-center">
                                <label class="col-lg-5 col-xl-3 control-label text-lg-right mb-0"> Onay Durumu </label>
                                <div class="col-lg-7 col-xl-6">
                                    @Html.DropDownListFor(m => m.Confirmation, new SelectList(Enum.GetValues(typeof(YesNo))), "-Seç-", new { @class = "form-control form-control-modern", @name = "companyCorfirmation" })
                                    @*   @Html.DropDownListFor(x=>x.MedeniDurum,new List<SelectListItem> {
                                            new SelectListItem() {Text="Bekar",Value="0" },
                                            new SelectListItem() {Text="Evli",Value="1" },
                                        }) *@
                                </div>
                            </div>

                            <div class="row action-buttons" style="margin-left:35%">
                                <div class="col-12 col-md-auto">
                                    @Html.ActionLink("Yeni", "CompanyAdd", "Home", new { @class = "btn btn-primary btn-lg " })
                                </div>
                                <div class="col-12 col-md-auto">
                                    <button type="submit" class="btn btn-primary btn-lg">Kaydet</button>
                                </div>
                                <div class="col-12 col-md-auto">
                                    @Html.ActionLink("Liste", "CompanyList", "Home", new { @class = "btn btn-primary btn-lg " })
                                </div>
                                <!-- <div class="col-12 col-md-auto px-md-0 mt-3 mt-md-0">
                                    <a href="ecommerce-customers-list.html" class="cancel-button btn btn-light btn-px-4 py-3 border font-weight-semibold text-color-dark text-3">Cancel</a>
                                </div>
                                <div class="col-12 col-md-auto ml-md-auto mt-3 mt-md-0">
                                    <a href="#" class="delete-button btn btn-danger btn-px-4 py-3 d-flex align-items-center font-weight-semibold line-height-1">
                                        <i class="bx bx-trash text-4 mr-2"></i> Delete Customer
                                    </a>
                                </div>-->
                            </div>
                            @*<div class="form-group row align-items-center">
                                    <label class="col-lg-5 col-xl-3 control-label text-lg-right mb-0">Postcode / ZIP</label>
                                    <div class="col-lg-7 col-xl-6">
                                        <input type="text" class="form-control form-control-modern" name="customerBillingPostCodeZip" value="" required />
                                    </div>
                                </div>
                                <div class="form-group row align-items-center">
                                    <label class="col-lg-5 col-xl-3 control-label text-lg-right mb-0">Country / Region</label>
                                    <div class="col-lg-7 col-xl-6">
                                        <select class="form-control form-control-modern" name="customerBillingCountryRegion">
                                            <option value="">Select a country / region</option>
                                            <option value="country1">Country 1</option>
                                            <option value="country2">Country 2</option>
                                            <option value="country3">Country 3</option>
                                            <option value="country4">Country 4</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row align-items-center">
                                    <label class="col-lg-5 col-xl-3 control-label text-lg-right mb-0">State / Country</label>
                                    <div class="col-lg-7 col-xl-6">
                                        <select class="form-control form-control-modern" name="customerBillingStateCountry">
                                            <option value="">Select a State</option>
                                            <option value="state1">State 1</option>
                                            <option value="state2">State 2</option>
                                            <option value="state3">State 3</option>
                                            <option value="state4">State 4</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row align-items-center">
                                    <label class="col-lg-5 col-xl-3 control-label text-lg-right mb-0">Phone</label>
                                    <div class="col-lg-7 col-xl-6">
                                        <input type="text" class="form-control form-control-modern" name="customerBillingPhone" value="" />
                                    </div>
                                </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</section>