@model zeynerp.Entities.Company
@{
    ViewBag.Title = "CompanyDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="body">
    <header class="page-header">
        <h2>Cari Detay</h2>

        <div class="right-wrapper text-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="index.html">
                        <i class="fas fa-home"></i>
                    </a>
                </li>
                <li><span>Pages</span></li>
                <li><span>User Profile</span></li>
            </ol>

            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fas fa-chevron-left"></i></a>
        </div>
    </header>

    <!-- start: page -->
    @using (Html.BeginForm("CompanyDetail", "Home", FormMethod.Post))
    {
        <div class="row">
            <div class="col">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-2-5 col-xl-1-5">
                            <i class="card-big-info-icon bx bx-dollar-circle"></i>
                            <h2 class="card-big-info-title">  </h2>
                            <p class="card-big-info-desc">  </p>
                        </div>
                        <div class="col-lg-3-5 col-xl-4-5">
                            <div class="form-group row align-items-center">
                                <label class="col-lg-5 col-xl-3 control-label text-lg-right mb-0"> Cari Türü</label>
                                <div class="col-lg-7 col-xl-6">
                                    @Html.HiddenFor(model => model.Kind, new { id = "CompanyKind" })
                                    Müşteri: @if (Model.Kind.ToString().Contains("Müşteri"))
                                    {<input type="checkbox" id="r" onchange="getSelected()" value="Müşteri" checked /> }
                                    else
                                    { <input type="checkbox" id="r" onchange="getSelected()" value="Müşteri" />}
                                    Tedarikçi: @if (Model.Kind.Contains("Tedarikçi"))
                                    {<input type="checkbox" id="r" onchange="getSelected()" value="Tedarikçi" checked /> }
                                    else
                                    { <input type="checkbox" id="r" onchange="getSelected()" value="Tedarikçi" />}
                                    Taşeron: @if (Model.Kind.Contains("Taşeron"))
                                    {<input type="checkbox" id="r" onchange="getSelected()" value="Taşeron" checked /> }
                                    else
                                    { <input type="checkbox" id="r" onchange="getSelected()" value="Taşeron" />}
                                    Resmi: @if (Model.Kind.Contains("Resmi"))
                                    {<input type="checkbox" id="r" onchange="getSelected()" value="Resmi" checked /> }
                                    else
                                    { <input type="checkbox" id="r" onchange="getSelected()" value="Resmi" />}
                                    Banka: @if (Model.Kind.Contains("Banka"))
                                    {<input type="checkbox" id="r" onchange="getSelected()" value="Banka" checked /> }
                                    else
                                    { <input type="checkbox" id="r" onchange="getSelected()" value="Banka" />}
                                    Personel: @if (Model.Kind.Contains("Personel"))
                                    {<input type="checkbox" id="r" onchange="getSelected()" value="Personel" checked /> }
                                    else
                                    { <input type="checkbox" id="r" onchange="getSelected()" value="Personel" />}
                                    Ortaklar: @if (Model.Kind.Contains("Ortaklar"))
                                    {<input type="checkbox" id="r" onchange="getSelected()" value="Ortaklar" checked /> }
                                    else
                                    { <input type="checkbox" id="r" onchange="getSelected()" value="Ortaklar" />}

                                </div>
                            </div>
                            <div class="form-group row align-items-center">
                                <label class="col-lg-5 col-xl-3 control-label text-lg-right mb-0"> Cari Adı</label>
                                <div class="col-lg-7 col-xl-6">
                                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control form-control-lg", name = "companyName", type = "text" })
                                </div>
                            </div>
                            <div class="form-group row align-items-center">
                                <label class="col-lg-5 col-xl-3 control-label text-lg-right mb-0"> Cari Kısa Adı</label>
                                <div class="col-lg-7 col-xl-6">
                                    @Html.TextBoxFor(model => model.ShortName, new { @class = "form-control form-control-lg", name = "companyShortName", type = "text" })
                                </div>
                            </div>
                            <div class="form-group row align-items-center">
                                <label class="col-lg-5 col-xl-3 control-label text-lg-right mb-0"> Cari Telefonu </label>
                                <div class="col-lg-7 col-xl-6">
                                    @Html.TextBoxFor(model => model.Phone, new { @class = "form-control form-control-lg", name = "companyPhone", type = "text" })
                                </div>
                            </div>
                            <div class="form-group row align-items-center">
                                <label class="col-lg-5 col-xl-3 control-label text-lg-right mb-0"> Cari Fax </label>
                                <div class="col-lg-7 col-xl-6">
                                    @Html.TextBoxFor(model => model.Fax, new { @class = "form-control form-control-lg", name = "companyFax", type = "text" })
                                </div>
                            </div>
                            <div class="form-group row align-items-center">
                                <label class="col-lg-5 col-xl-3 control-label text-lg-right mb-0"> Cari E-Posta </label>
                                <div class="col-lg-7 col-xl-6">
                                    @Html.TextBoxFor(model => model.Eposta, new { @class = "form-control form-control-lg", name = "companyEposta", type = "text" })
                                </div>
                            </div>
                            <div class="form-group row align-items-center">
                                <label class="col-lg-5 col-xl-3 control-label text-lg-right mb-0"> Cari Vergi Dairesi </label>
                                <div class="col-lg-7 col-xl-6">
                                    @Html.TextBoxFor(model => model.TaxAdministration, new { @class = "form-control form-control-lg", name = "companyTaxAdministration", type = "text" })
                                </div>
                            </div>
                            <div class="form-group row align-items-center">
                                <label class="col-lg-5 col-xl-3 control-label text-lg-right mb-0"> Cari Vergi No </label>
                                <div class="col-lg-7 col-xl-6">
                                    @Html.TextBoxFor(model => model.TaxNumber, new { @class = "form-control form-control-lg", name = "companyTaxNumber", type = "text" })
                                </div>
                            </div>
                            <div class="form-group row align-items-center">
                                <label class="col-lg-5 col-xl-3 control-label text-lg-right mb-0"> Fatura Adresi </label>
                                <div class="col-lg-7 col-xl-6">
                                    @Html.TextBoxFor(model => model.BillingAddress, new { @class = "form-control form-control-lg", name = "companyBillingAddress", type = "text" })
                                </div>
                            </div>


                            <div class="row action-buttons" style="margin-left:35%">
                                <div class="col-12 col-md-auto">
                                    @Html.ActionLink("Yeni", "CompanyAdd", "Home", new { @class = "btn btn-primary btn-lg " })
                                </div>
                                <div class="col-12 col-md-auto">
                                    <button type="submit" class="btn btn-primary btn-lg">Kaydet</button>
                                </div>
                                <div class="col-12 col-md-auto">
                                    @Html.ActionLink("Liste", "CompanyList", "Home", new { @class = "btn btn-primary btn-lg " })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</section> 