@using zeynerp.Entities.Definitions
@model CompanyGroup
@{
    ViewBag.Title = "SupplierAdd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section role="main" class="content-body">
    <header class="page-header">
        <h2>Tedarikçi Ekle</h2>

        <div class="right-wrapper text-right pr-3">
            <ol class="breadcrumbs">
                <li>
                    <a href="/panel">
                        <i class="fas fa-home"></i>
                    </a>
                </li>
                <li><span>Tanımlamalar</span></li>
                <li><a href="/tanimlamalar/tedarikci-listesi"><span> Tedarikçi Listesi</span></a></li>
                <li><span>Tedarikçi Ekle</span></li>
            </ol>
        </div>
    </header>

    @using (Ajax.BeginForm("SupplierAdd", "Supplier", new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnSuccess" }, new { @class = "action-buttons-fixed", enctype = "multipart/form-data" }))
    {
        <div class="row">
            <div class="col">
                <section class="card">
                    <div class="card-body">
                        <div style="text-align:center"> <strong> Firma Grup Tanım </strong> </div>
                        <div class="form-group row align-items-center">
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 control-label text-lg-right pt-2" for="inputDefault"> Grup Adı </label>
                            <div class="col-lg-6">
                                @Html.TextBoxFor(x => x.Name, new { id = "inputFirstName", @class = "form-control", type = "text" })
                                @Html.ValidationMessageFor(x => x.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-lg-3 control-label text-lg-right pt-2" for="inputMaritalStatus"> Aktif </label>
                            <div class="col-lg-6">
                                @Html.DropDownListFor(x => x.Confirmation, new List<SelectListItem> {
                                        new SelectListItem { Text = " ", Value = " "},
                                        new SelectListItem { Text = "Aktif", Value = "Aktif"},
                                        new SelectListItem { Text = "Pasif", Value = "Pasif" } }, new { @class = "form-control form-control-lg mb-3" })
                                @Html.ValidationMessageFor(x => x.Confirmation, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group row" style="margin-left:40%">
                            <div class="col-4 col-md-auto">
                                @Html.ActionLink("Yeni", "SupplierAdd", "Supplier", new { @class = "btn btn-primary btn-lg " })
                            </div>
                            <div class="col-4 col-md-auto">
                                <button type="submit" class="btn btn-primary btn-lg">Kaydet</button>
                            </div>
                            <div class="col-4 col-md-auto">
                                @Html.ActionLink("Liste", "SupplierList", "Supplier", new { @class = "btn btn-primary btn-lg " })
                            </div>
                        </div>
                    </div>

                </section>
            </div>
        </div>
    }
</section>

<script>
    function OnSuccess() {
        location.href = "@Url.Content("tedarikci-listesi")";
    }
</script>