@using zeynerp.Entities
@using zeynerp.Entities.Admin
@using zeynerp.BL
@model BL_Result<Module>
@{
    ViewBag.Title = "ModuleLog";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Log> logs = ViewData["logs"] as List<Log>;
    int counter = 1;
}

<section role="main" class="content-body">
    <header class="page-header">
        @{
            var admin = Session["employee"] as User;
            if (admin != null)
            {
                <h2>ZEYNErP</h2>
            }
        }
        <div class="right-wrapper text-right mr-3">
            <ol class="breadcrumbs">
                <li>
                    <a href="/Admin/Dashboard">
                        <i class="fas fa-home"></i>
                    </a>
                </li>
                <li>
                    <a href="/Admin/Category">
                        <span>Kategori</span>
                    </a>
                </li>
                <li>
                    <a href="/Admin/CategoryDetail/@Model.Result.CategoryId">
                        <span>Modül</span>
                    </a>
                </li>
                <li>
                    <span>Log</span>
                </li>
            </ol>
        </div>
    </header>
    <div class="row">
        <div class="col">
            <div class="card card-modern">
                <div class="card-body">
                    <div class="datatables-header-footer-wrapper">
                        <div class="datatable-header">
                            <div class="row align-items-center justify-content-end mb-3">
                                <div class="col-12 col-lg-4 col-xl-3 col-lg-auto mr-auto">
                                    <span><strong>@Model.Result.ModuleName</strong></span>
                                </div>
                                <div class="col-12 col-lg-4 col-xl-3 col-lg-auto mb-3 mb-lg-0">
                                    <div class="search search-style-1 w-100 search-style-1-lg mx-lg-auto">
                                        <label class="invisible">search</label>
                                        <div class="input-group">
                                            <input type="text" class="search-term form-control" name="search-term" id="search-term" placeholder="Kayıt Ara">
                                            <span class="input-group-append">
                                                <button class="btn btn-default" type="submit"><i class="bx bx-search"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
<<<<<<< HEAD
                        </div>
                        <table class="table table-ecommerce-simple table-striped mb-0" id="datatable-ecommerce-list" style="min-width: 750px;">
                            <thead>
                                <tr>
                                    <th width="8%">No</th>
                                    <th width="20%">Tarih</th>
                                    <th>Tutar</th>
                                    <th width="35%">Açıklama</th>
                                    <th>Kaydeden</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (Log log in logs)
                                {
                                    <tr>
                                        <td>@counter</td>
                                        <td>@log.UpdatedDate</td>
                                        <td>@log.Price</td>
                                        <td>@log.Comment</td>
                                        <td>@log.Owner</td>
=======
                            <table class="table table-ecommerce-simple table-striped mb-0" id="datatable-ecommerce-list" style="min-width: 750px;">
                                <thead>
                                    <tr>
                                        <th width="8%">No</th>
                                        <th width="20%">Tarih</th>
                                        <th>Tutar</th>
                                        <th width="35%">Açıklama</th>
                                        <th>Kaydeden</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>                                        
                                        <td>01/01/2020</td>
                                        <td>
                                            1500 ₺
                                        </td>
                                        <td>Deneme</td>
                                        <td>
                                            Selim SELİMOĞLU
                                        </td>
>>>>>>> 3add85628d495cc3f28fe48654a30f16067554cc
                                    </tr>
                                    counter++;
                                }
                            </tbody>
                        </table>
                        <hr class="solid mt-5 opacity-4">
                        <div class="datatable-footer">
                            <div class="row align-items-center justify-content-between mt-3">
                                <div class="col-md-auto order-1 mb-3 mb-lg-0 invisible">
                                    <div class="d-flex align-items-stretch">
                                        <a href="#" class="bulk-action-apply btn btn-light btn-px-4 py-3 border font-weight-semibold text-color-dark text-3">Apply</a>
                                    </div>
                                </div>
                                <div class="col-lg-auto text-center order-3 order-lg-2">
                                    <div class="results-info-wrapper"></div>
                                </div>
                                <div class="col-lg-auto order-2 order-lg-3 mb-3 mb-lg-0">
                                    <div class="pagination-wrapper"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>