@using zeynerp.Entities.HumanResource
@model Personnel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section role="main" class="content-body">
    <header class="page-header">
        <h2>Personel Ekle</h2>

        <div class="right-wrapper text-right pr-3">
            <ol class="breadcrumbs">
                <li>
                    <a href="/panel">
                        <i class="fas fa-home"></i>
                    </a>
                </li>
                <li><span>İnsan Kaynakları</span></li>
                <li><a href="/insan-kaynaklari/personel-listesi"><span>Personel Listesi</span></a></li>
                <li><span>Personel Ekle</span></li>
            </ol>
        </div>
    </header>

    @*<form class="ecommerce-form action-buttons-fixed" action="#" method="post">*@
    @using (Html.BeginForm("PersonnelAdd", "HumanResource", FormMethod.Post, new { @class = "action-buttons-fixed" }))
    {
        if (Model != null)
        {
            @Html.HiddenFor(x => x.Id)
        }
        <div class="row">
            <div class="col">
                <section class="card card-modern card-big-info">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-2-5 col-xl-1-5">
                                <div class="thumb-info mb-3">
                                    <img src="~/Assets/img/!logged-user.jpg" class="rounded img-fluid" alt="John Doe">
                                    <div class="thumb-info-edit">
                                        <label for="file-input">
                                            <i class="el el-edit"></i>
                                        </label>
                                        <input id="file-input" type="file" name="imageFile" onchange="this.form.submit()" style="display: none;" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3-5 col-xl-4-5">
                                <div class="form-group row align-items-center">
                                    <div class="col-lg-6 col-xl-5 mb-3 mb-lg-0 ml-auto">
                                        <label for="inputFirstName">Ad</label>
                                        @Html.TextBoxFor(x => x.Name, new { id = "inputFirstName", @class = "form-control", type = "text", required = "required" })
                                    </div>
                                    <div class="col-lg-6 col-xl-5 mr-auto">
                                        <label for="inputLastName">Soyad</label>
                                        @Html.TextBoxFor(x => x.Surname, new { id = "inputLastName", @class = "form-control", type = "text", required = "required" })
                                    </div>
                                </div>
                                <div class="form-group row align-items-center">
                                    <div class="col-lg-6 col-xl-5 mb-3 mb-lg-0 ml-auto">
                                        <label for="inputFirstName">Doğum Yeri</label>
                                        @Html.DropDownListFor(x => x.City, new SelectList(Enum.GetValues(typeof(zeynerp.Common.Helpers.Select.Cities))), new { @class = "form-control populate" })
                                    </div>
                                    <div class="col-lg-6 col-xl-5 mr-auto">
                                        <label for="inputLastName">Doğum Tarihi</label>
                                        <div class="input-group">
                                            <span class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fas fa-calendar-alt"></i>
                                                </span>
                                            </span>
                                            @Html.TextBoxFor(x => x.Birthday, new { @class = "form-control input-date", placeholder = "__/__/____", required = "required" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row align-items-center">
                                    <div class="col-lg-6 col-xl-5 mb-3 mb-lg-0 ml-auto">
                                        <label for="inputFirstName">Vatandaşlık Numarası</label>
                                        @Html.TextBoxFor(x => x.Tc_No, new { id = "inputTcNo", @class = "form-control", type = "text", required = "required" })
                                    </div>
                                    <div class="col-lg-6 col-xl-5 mr-auto">
                                        <label for="inputLastName">SGK Numarası</label>
                                        @Html.TextBoxFor(x => x.SGK_No, new { id = "inputSgkNo", @class = "form-control", type = "text", required = "required" })
                                    </div>
                                </div>
                                <div class="form-group row align-items-center">
                                    <div class="col-lg-6 col-xl-5 mb-3 mb-lg-0 ml-auto">
                                        <label for="inputFirstName">Askerlik Durumu</label>
                                        @Html.DropDownListFor(x => x.MilitaryStatus, new SelectList(Enum.GetValues(typeof(zeynerp.Common.Helpers.Select.MilitaryStatus))), " ", new { @class = "form-control populate" })
                                    </div>
                                    <div class="col-lg-6 col-xl-5 mr-auto">
                                        <label for="inputMaritalStatus">Medeni Hal</label>
                                        @Html.DropDownListFor(x => x.MaritalStatus, new SelectList(Enum.GetValues(typeof(zeynerp.Common.Helpers.Select.MaritalStatus))), " ", new { @class = "form-control populate" })
                                    </div>
                                </div>
                                <div class="form-group row align-items-center">
                                    <div class="col-lg-6 col-xl-5 mb-3 mb-lg-0 ml-auto">
                                        <label for="inputFirstName">Telefon</label>
                                        <div class="input-group">
                                            <span class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fas fa-phone"></i>
                                                </span>
                                            </span>
                                            @Html.TextBoxFor(x => x.Phone, new { id = "phone", @class = "form-control input-phone", type = "text", placeholder = "(123) 123-1234", required = "required" })
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-xl-5 row mr-auto p-0 m-0">
                                        <div class="col-lg-4 mb-3 mb-lg-0">
                                            <label for="inputVehicle">Araç</label>
                                            @Html.DropDownListFor(x => x.Vehicle, new SelectList(Enum.GetValues(typeof(zeynerp.Common.Helpers.Select.AvailableOrUnavailable))), " ", new { @class = "form-control populate" })
                                        </div>
                                        <div class="col-lg-8">
                                            <label for="inputVehicleLicensePlate">Plaka</label>
                                            @Html.TextBoxFor(x => x.VehicleRegistrationPlate, new { id = "inputVehicleLicensePlate", @class = "form-control", type = "text" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row align-items-center">
                                    <div class="col-lg-6 col-xl-5 mb-3 mb-lg-0 row ml-auto p-0 m-0">
                                        <div class="col-lg-6 mb-3 mb-lg-0">
                                            <label for="RelativeName">Yakını Ad</label>
                                            @Html.TextBoxFor(x => x.NameOfRelative, new { id = "inputRelativeName", @class = "form-control", type = "text", required = "required" })
                                        </div>
                                        <div class="col-lg-6">
                                            <label for="inputRelativeSurname">Yakını Soyad</label>
                                            @Html.TextBoxFor(x => x.SurnameOfRelative, new { id = "inputRelativeSurname", @class = "form-control", type = "text", required = "required" })
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-xl-5 mr-auto">
                                        <label for="inputRelativePhone">Yakını Telefon</label>
                                        <div class="input-group">
                                            <span class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fas fa-phone"></i>
                                                </span>
                                            </span>
                                            @Html.TextBoxFor(x => x.PhoneOfRelative, new { id = "inputRelativePhone", @class = "form-control input-phone", type = "text", placeholder = "(123) 123-1234", required = "required" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row align-items-center">
                                    <div class="col-lg-12 col-xl-10 ml-auto mr-auto">
                                        <label for="inputAddress">Adres</label>
                                        @Html.TextAreaFor(x => x.Address, new { id = "inputAddress", @class = "form-control", rows = "3", maxlength = "140", required = "required" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <section class="card card-modern card-big-info">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-2-5 col-xl-1-5">
                                <i class="card-big-info-icon bx bx-briefcase"></i>
                                <h2 class="card-big-info-title">İş Bilgileri</h2>
                            </div>
                            <div class="col-lg-3-5 col-xl-4-5">
                                <div class="shipping-fields-wrapper collapse show">
                                    <div class="form-group row align-items-center">
                                        <div class="col-lg-6 col-xl-5 mb-3 mb-lg-0 ml-auto">
                                            <label for="inputFirstName">Firma</label>
                                            @Html.DropDownListFor(x => x.Company, new SelectList(Enum.GetValues(typeof(zeynerp.Common.Helpers.Select.Company))), " ", new { @class = "form-control populate" })
                                        </div>
                                        <div class="col-lg-6 col-xl-5 mr-auto">
                                            <label for="inputLastName">Sorumluluk Merkezi</label>
                                            @Html.DropDownListFor(x => x.S_Central, new SelectList(Enum.GetValues(typeof(zeynerp.Common.Helpers.Select.S_Central))), " ", new { @class = "form-control populate" })
                                        </div>
                                    </div>
                                    <div class="form-group row align-items-center">
                                        <div class="col-lg-6 col-xl-5 mb-3 mb-lg-0 ml-auto">
                                            <label for="inputFirstName">Amir</label>
                                            @Html.DropDownListFor(x => x.Chief, new SelectList(Enum.GetValues(typeof(zeynerp.Common.Helpers.Select.Chief))), " ", new { @class = "form-control populate" })
                                        </div>
                                        <div class="col-lg-6 col-xl-5 mr-auto">
                                            <label for="inputLastName">Pozisyon</label>
                                            @Html.DropDownListFor(x => x.Position, new SelectList(Enum.GetValues(typeof(zeynerp.Common.Helpers.Select.Position))), " ", new { @class = "form-control populate" })
                                        </div>
                                    </div>
                                    <div class="form-group row align-items-center">
                                        <div class="col-lg-6 col-xl-5 mb-3 mb-lg-0 ml-auto">
                                            <label for="inputFirstName">Başlangıç Tarihi</label>
                                            <div class="input-group">
                                                <span class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="fas fa-calendar-alt"></i>
                                                    </span>
                                                </span>
                                                @Html.TextBoxFor(x => x.StartingDate, new { @class = "form-control input-date", placeholder = "__/__/____", required = "required" })
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-xl-5 mr-auto">
                                            <label for="inputLastName">Maaş</label>
                                            @Html.TextBoxFor(x => x.Salary, new { id = "inputFirstName", @class = "form-control", type = "text", required = "required" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <section class="card card-modern card-big-info">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-2-5 col-xl-1-5">
                                <i class="card-big-info-icon bx bx-edit-alt"></i>
                                <h2 class="card-big-info-title">Dil Bilgisi</h2>
                            </div>
                            <div class="col-lg-3-5 col-xl-4-5">
                                <div class="shipping-fields-wrapper collapse show">
                                    <div class="form-group row align-items-center">
                                        <div class="col-lg-3 mb-3 mb-lg-0 offset-lg-1">
                                            <label for="inputFirstName">İngilizce Konuşma</label>
                                            @Html.DropDownListFor(x => x.English_speak, new SelectList(Enum.GetValues(typeof(zeynerp.Common.Helpers.Select.Language))), " ", new { @class = "form-control populate" })
                                        </div>
                                        <div class="col-lg-3 mb-3 mb-lg-0">
                                            <label for="inputLastName">İngilizce Yazma</label>
                                            @Html.DropDownListFor(x => x.English_write, new SelectList(Enum.GetValues(typeof(zeynerp.Common.Helpers.Select.Language))), " ", new { @class = "form-control populate" })
                                        </div>
                                        <div class="col-lg-3">
                                            <label for="inputLastName">İngilizce Okuma</label>
                                            @Html.DropDownListFor(x => x.English_read, new SelectList(Enum.GetValues(typeof(zeynerp.Common.Helpers.Select.Language))), " ", new { @class = "form-control populate" })
                                        </div>
                                    </div>
                                    <div class="form-group row align-items-center">
                                        <div class="col-lg-3 mb-3 mb-lg-0 offset-lg-1">
                                            <label for="inputFirstName">Almanca Konuşma</label>
                                            @Html.DropDownListFor(x => x.German_speak, new SelectList(Enum.GetValues(typeof(zeynerp.Common.Helpers.Select.Language))), " ", new { @class = "form-control populate" })
                                        </div>
                                        <div class="col-lg-3 mb-3 mb-lg-0">
                                            <label for="inputLastName">Almanca Yazma</label>
                                            @Html.DropDownListFor(x => x.German_write, new SelectList(Enum.GetValues(typeof(zeynerp.Common.Helpers.Select.Language))), " ", new { @class = "form-control populate" })
                                        </div>
                                        <div class="col-lg-3">
                                            <label for="inputLastName">Almanca Okuma</label>
                                            @Html.DropDownListFor(x => x.German_read, new SelectList(Enum.GetValues(typeof(zeynerp.Common.Helpers.Select.Language))), " ", new { @class = "form-control populate" })
                                        </div>
                                    </div>
                                    <div class="form-group row align-items-center">
                                        <div class="col-lg-3 mb-3 mb-lg-0 offset-lg-1">
                                            <label for="inputFirstName">Fransızca Konuşma</label>
                                            @Html.DropDownListFor(x => x.French_speak, new SelectList(Enum.GetValues(typeof(zeynerp.Common.Helpers.Select.Language))), " ", new { @class = "form-control populate" })
                                        </div>
                                        <div class="col-lg-3 mb-3 mb-lg-0">
                                            <label for="inputLastName">Fransızca Yazma</label>
                                            @Html.DropDownListFor(x => x.French_write, new SelectList(Enum.GetValues(typeof(zeynerp.Common.Helpers.Select.Language))), " ", new { @class = "form-control populate" })
                                        </div>
                                        <div class="col-lg-3">
                                            <label for="inputLastName">Fransızca Okuma</label>
                                            @Html.DropDownListFor(x => x.French_read, new SelectList(Enum.GetValues(typeof(zeynerp.Common.Helpers.Select.Language))), " ", new { @class = "form-control populate" })
                                        </div>
                                    </div>
                                    <div class="form-group row align-items-center">
                                        <div class="col-lg-9 col-xl-9 offset-lg-1">
                                            <label for="inputFirstName">Diğer</label>
                                            @Html.TextAreaFor(x => x.OtherLanguage, new { id = "inputAddress", @class = "form-control", rows = "3", maxlength = "140" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <section class="card card-modern card-big-info">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-2-5 col-xl-1-5">
                                <i class="card-big-info-icon bx bx-book-alt"></i>
                                <h2 class="card-big-info-title">Eğitim Bilgileri</h2>
                            </div>
                            <div class="col-lg-3-5 col-xl-4-5">
                                <div class="shipping-fields-wrapper collapse show">
                                    <div class="form-group row align-items-center">
                                        <div class="col-lg-12 col-xl-10 ml-auto mr-auto">
                                            <label for="inputFirstName">Okul Adı</label>
                                            @Html.TextBoxFor(x => x.SchoolName, new { id = "inputFirstName", @class = "form-control", type = "text" })
                                        </div>
                                    </div>
                                    <div class="form-group row align-items-center">
                                        <div class="col-lg-12 col-xl-10 ml-auto mr-auto">
                                            <label for="inputFirstName">Bölümü</label>
                                            @Html.TextBoxFor(x => x.Section, new { id = "inputFirstName", @class = "form-control", type = "text" })
                                        </div>
                                    </div>
                                    <div class="form-group row align-items-center">
                                        <div class="col-lg-6 col-xl-5 mb-3 mb-lg-0 ml-auto">
                                            <label for="inputFirstName">Mezuniyet Tarihi</label>
                                            <div class="input-group">
                                                <span class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="fas fa-calendar-alt"></i>
                                                    </span>
                                                </span>
                                                @Html.TextBoxFor(x => x.SchoolGraduation, new { @class = "form-control input-date", placeholder = "__/__/____" })
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-xl-5 mr-auto">
                                            <label for="inputLastName">Not Ortalaması</label>
                                            @Html.TextBoxFor(x => x.Grade, new { id = "inputFirstName", @class = "form-control", type = "text" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <section class="card card-modern card-big-info">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-2-5 col-xl-1-5">
                                <i class="card-big-info-icon bx bx-message-alt-detail"></i>
                                <h2 class="card-big-info-title">Diğer Bilgiler</h2>
                            </div>
                            <div class="col-lg-3-5 col-xl-4-5">
                                <div class="shipping-fields-wrapper collapse show">
                                    <div class="form-group row align-items-center">
                                        <div class="col-lg-6 col-xl-5 mb-3 mb-lg-0 ml-auto">
                                            <label for="inputFirstName">Geçirmiş olduğunuz önemli hastalıklar var mı?</label>
                                            @Html.TextBoxFor(x => x.DiseaseState, new { id = "inputFirstName", @class = "form-control", type = "text", required = "required" })
                                        </div>
                                        <div class="col-lg-6 col-xl-5 mr-auto">
                                            <label for="inputLastName">Sağlık durumunuzda belirtmeniz gereken özel bir durum var mı?</label>
                                            @Html.TextBoxFor(x => x.HealthSituation, new { id = "inputFirstName", @class = "form-control", type = "text", required = "required" })
                                        </div>
                                    </div>
                                    <div class="form-group row align-items-center">
                                        <div class="col-lg-6 col-xl-5 mb-3 mb-lg-0 ml-auto">
                                            <label for="inputFirstName">Otomobil ehliyetiniz var mı?</label>
                                            @Html.DropDownListFor(x => x.DrivingLicense, new SelectList(Enum.GetValues(typeof(zeynerp.Common.Helpers.Select.AvailableOrUnavailable))), " ", new { @class = "form-control populate" })
                                        </div>
                                        <div class="col-lg-6 col-xl-5 mr-auto">
                                            <label for="inputLastName">Mesaiye kalır mısınız?</label>
                                            @Html.DropDownListFor(x => x.Shift, new SelectList(Enum.GetValues(typeof(zeynerp.Common.Helpers.Select.YesOrNo))), " ", new { @class = "form-control populate" })
                                        </div>
                                    </div>
                                    <div class="form-group row align-items-center">
                                        <div class="col-lg-6 col-xl-5 mb-3 mb-lg-0 ml-auto">
                                            <label for="inputFirstName">Sigara içiyor musunuz?</label>
                                            @Html.DropDownListFor(x => x.Smoke, new SelectList(Enum.GetValues(typeof(zeynerp.Common.Helpers.Select.YesOrNo))), " ", new { @class = "form-control populate" })
                                        </div>
                                        <div class="col-lg-6 col-xl-5 mr-auto">
                                            <label for="inputLastName">Alkol kullanıyor musunuz?</label>
                                            @Html.DropDownListFor(x => x.Alcohol, new SelectList(Enum.GetValues(typeof(zeynerp.Common.Helpers.Select.YesOrNo))), " ", new { @class = "form-control populate" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="row action-buttons">
            <div class="col-12 col-md-auto">
                <button type="submit" class="submit-button btn btn-primary btn-px-4 py-3 d-flex align-items-center font-weight-semibold line-height-1" data-loading-text="Loading...">
                    <i class="bx bx-save text-4 mr-2"></i> Kaydet
                </button>
            </div>
            <div class="col-12 col-md-auto px-md-0 mt-3 mt-md-0">
                <a href="/insan-kaynaklari/personel-listesi" class="cancel-button btn btn-light btn-px-4 py-3 border font-weight-semibold text-color-dark text-3">İptal</a>
            </div>
        </div>
    }
    <script>
        document.getElementsByTagName("select")[0].setAttribute("data-plugin-selectTwo", "");

        //document.getElementById("date").setAttribute("data-plugin-masked-input", "");
        //document.getElementById("date").setAttribute("data-input-mask", "99/99/9999");

        var inputDateArr = document.getElementsByClassName("input-date");
        for (var i = 0; i < inputDateArr.length; i++) {
            inputDateArr[i].setAttribute("data-plugin-masked-input", "");
            inputDateArr[i].setAttribute("data-input-mask", "99/99/9999");
        }

        var inputPhoneArr = document.getElementsByClassName("input-phone");
        for (var i = 0; i < inputPhoneArr.length; i++) {
            inputPhoneArr[i].setAttribute("data-plugin-masked-input", "");
            inputPhoneArr[i].setAttribute("data-input-mask", "(999) 999-9999");
        }
    </script>
